
// Slideshow Styling -----
* {box-sizing:border-box}


.slideshow-container {
  padding-top: 20px;
  width: 100%;
  position: relative;
  margin: auto;

  @include breakpoint($mobile){
    display: none;
  }

  .mySlides {
      display: none;

      img {
        width: 100%;
        padding: 0;

        @include breakpoint($tablet){
          display: block;
        }
      } //img
    } //myslides
  } //slide-show container

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: lighten($yellow, 20);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

  &:hover {
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

// menu nav
#menu {
  margin: 0 auto;

  #menuNav {
    width: 100%;
    background-color: rgba(15, 35, 62, .9);
    text-align: center;
    margin: 0 auto;

    #menuLink {
      text-transform: uppercase;
      text-decoration: none;
      color: $light;
      font-family: $fontfamilyTitle;
      font-size: 25px;
      padding: 0 20px;

      @include breakpoint($tablet){
        padding: 0 10px;
      }

      @include breakpoint(max-width 530px){
        display: block;
        padding: 5px 0;
      }

      &:hover, &.activeMenu {
        color: $red;
        text-decoration: underline;
      } //hover

    } //menuLink
  } //menuNav

  #slidingDiv, #slidingDiv_2, #slidingDiv_3, #slidingDiv_4 {
    text-align: center;

    div {
      vertical-align: top;
      max-width: 30%;
      padding: 20px 10px;
      text-align: center;
      display: inline-block;

      @include breakpoint($tablet){
        max-width: 50%;
      }

      @include breakpoint($mobile){
        max-width: 100%;
      }

      &.desert {
        max-width: 100%;
      }

      li {
        padding: 10px 0;
      } //li
    } //div
  } //slidingDiv
} //menu

// menu content
em {
  font-style: italic;
  font-weight: $thin;
  font-size: .85em;
}

br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 0.1px !important;
}
